.popup__btn-close {
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: -40px;
  background: no-repeat center/contain url("../../../img/close-icon.svg");
  /* background-size: contain; */
  width: 32px;
  height: 32px;
  transition: all 0.25s linear;
  border: none;
}

.popup__btn-close:hover {
  opacity: 0.6;
}

@media (max-width: 600px) {
  .popup__btn-close {
    width: 20px;
    height: 20px;
    right: 0px;
  }
}
