.main-menu__lines,
.main-menu__lines::before,
.main-menu__lines::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition-duration: 0.15s;
}
.main-menu__lines::before {
  content: "";
  top: -8px;
}
.main-menu__lines::after {
  content: "";
  top: 8px;
}
